<nav
  [class.closed]="isClosed$ | async"
  (swipedown)="prevItem()"
  (swipeup)="nextItem()"
>
  <div class="wrapper" [style.transform]="'rotate(' + degree + ')'">
    <button
      class="item"
      *ngFor="let item of items$ | async; index as i"
      #itemRef
      [ngStyle]="getStyleFromItemPosition(item.position, itemRef)"
      [style.transform]="'rotate(' + negativeDegree + ')'"
      [routerLink]="['/' + item.route]"
      tabindex="-1"
    >
      <img class="icon monochrome-icon" [src]="item.iconUrl" alt="" />
      <span class="name">{{ "routes." + item.name | translate }}</span>
    </button>
  </div>
</nav>
<app-musicbox-button></app-musicbox-button>
