<div class="string" *ngFor="let neckString of neckStrings">
  <div
    class="fret"
    *ngFor="let fretNumber of range(neckLength ?? 1)"
    (click)="play(neckString.root + fretNumber)"
  >
    <div
      class="notename"
      [class.disabled]="isDisabled(neckString.root + fretNumber)"
      [class.tonic]="whoInScale(neckString.root + fretNumber) === 1"
      [style.color]="
        whoInScale(neckString.root + fretNumber) | stagecolor: 'white'
      "
    >
      {{ neckString.root + fretNumber | notename }}
    </div>
  </div>
</div>
