@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: repeating-linear-gradient(
    90deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 2px,
    transparent 2px,
    transparent 8px
  );
  border-top: 2px solid rgba(black, 0.15);
  border-bottom: 2px solid rgba(black, 0.15);
  overflow-x: scroll;
  overflow-y: hidden;

  @include scrollbar-thin;

  .string {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-image: repeating-linear-gradient(
        to right,
        gray,
        gray 0.25em,
        darkgray 0.25em,
        darkgray 0.5em
      );
      background-image: repeating-linear-gradient(
        to right,
        #9c8549,
        #9c8549 0.25em,
        #af9d6d 0.25em,
        #af9d6d 0.5em
      );
      z-index: 0;
    }

    .fret {
      display: flex;
      align-items: center;
      min-width: 4em;

      cursor: pointer;

      text-align: center;

      user-select: none;

      padding: 0.25em 0.5em;

      border-right: 2px solid gray;

      z-index: 1;
      .notename {
        width: 100%;
        border-radius: 0.5em;
        background-color: #141414;

        &.disabled {
          filter: brightness(0.5);
          background-color: transparent;
        }
      }

      &:first-child,
      &:nth-child(12) {
        border-right: 4px solid darkgray;
      }
    }

    $dot-color: rgba(whitesmoke, 0.75);
    $small-dot-size: 0.3em;
    $large-dot-size: 0.5em;

    &:last-child,
    &:nth-child(3) {
      .fret {
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(10),
        &:nth-child(16),
        &:nth-child(18),
        &:nth-child(20),
        &:nth-child(22) {
          background-image: radial-gradient(
            circle at bottom,
            $dot-color $small-dot-size,
            transparent $small-dot-size
          );
        }

        &:nth-child(13),
        &:nth-child(25) {
          background-image: radial-gradient(
            circle at bottom,
            $dot-color $large-dot-size,
            transparent $large-dot-size
          );
        }
      }
    }

    &:nth-child(4) {
      .fret {
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(10),
        &:nth-child(16),
        &:nth-child(18),
        &:nth-child(20),
        &:nth-child(22) {
          background-image: radial-gradient(
            circle at top,
            $dot-color $small-dot-size,
            transparent $small-dot-size
          );
        }

        &:nth-child(13),
        &:nth-child(25) {
          background-image: radial-gradient(
            circle at top,
            $dot-color $large-dot-size,
            transparent $large-dot-size
          );
        }
      }
    }
  }
}
