:host {
  display: block;
  width: 100%;
  .wheel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    .sector {
      display: flex;
      flex-direction: column;
    }
  }
}
