:host {
  display: block;
  width: 100%;
  background-color: var(--tuner-bg);
  border-top: 2px solid var(--main-color);

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
      45deg,
      rgba(gray, 0.1),
      rgba(gray, 0.05) 2px,
      transparent 2px,
      transparent 15px
    );
  }
}
