<img class="icon monochrome-icon" src="assets/icons/nav.svg" alt="" />
<nav class="wrapper">
  <a [routerLink]="['home']" routerLinkActive="active">H</a>
  <a [routerLink]="['settings']" routerLinkActive="active">S</a>
  <a [routerLink]="['tuner']" routerLinkActive="active">T</a>
  <a [routerLink]="['chord-finder']" routerLinkActive="active">CF</a>
  <a [routerLink]="['camelot-wheel']" routerLinkActive="active">CW</a>
  <a [routerLink]="['keyboards']" routerLinkActive="active">KB</a>
  <a [routerLink]="['stringed']" routerLinkActive="active">SG</a>
  <a [routerLink]="['kalimbas']" routerLinkActive="active">KA</a>
  <a [routerLink]="['saxophones']" routerLinkActive="active">SP</a>
  <a [routerLink]="['trumpets']" routerLinkActive="active">TP</a>
  <a [routerLink]="['harmonicas']" routerLinkActive="active">HC</a>
  <a [routerLink]="['harps']" routerLinkActive="active">HP</a>
  <a [routerLink]="['flutes']" routerLinkActive="active">F</a>
</nav>
