$height: 1.5rem;

:host {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: $height;
  opacity: 0.5;
  transition: 0.3s;
  .icon {
    height: 100%;
  }
  .wrapper {
    opacity: 0;
    max-width: 0px;
    width: min-content;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: min-content;
    margin-left: 8px;
    a {
      color: var(--text-color-primary);
      font-size: calc(#{$height} - 0.75rem);
      padding: 0 0.25em;
      &.active {
        color: var(--successful-color);
      }
    }
  }

  &:hover {
    opacity: 1;
    .wrapper {
      opacity: 1;
      max-width: 50vw;
    }
  }
}
