@import "variables";
@import "mixins";

:host {
  @include flexHost;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .control {
    width: 100%;
  }
  .bottom-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    .info {
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: $md) {
  :host {
    .bottom-wrapper {
      flex-direction: column;
    }
  }
}
