@import "variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .control {
    margin-top: 2.5rem;
    width: 100%;
  }
  .bottom-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    .info {
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: $md) {
  :host {
    .bottom-wrapper {
      flex-direction: column;
    }
  }
}
