:host {
  position: relative;

  display: flex;

  background-color: var(--bg-color);

  background-image: url("../../../../../assets/images/dark_wood.jpg");
  background-size: cover;
  background-position: center;

  padding: 1em 3em 0;

  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

  box-shadow: inset 1px 2px 8px black, inset -8px -16px 32px rgba(white, 0.15);

  .nut {
    position: absolute;
    top: 2em;
    left: 2em;
    width: calc(100% - 4em);
    height: 1em;
    background-color: tan;
    z-index: 0;
  }

  .tongue-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 1em;
    margin: 0 0.33em;
    z-index: 1;
    cursor: pointer;

    .notename {
      position: absolute;
      bottom: 1em;
      text-align: center;

      color: var(--bg-color);
      padding: 0.1em 0.25em;
      border-radius: 1em;
      transform: rotate(-45deg);

      &.not-highlighted {
        color: white;
      }
    }

    .tongue {
      width: 1.25em;
      background-color: silver;
      border-radius: 0.33em;
    }
  }

  &::before {
    position: absolute;
    top: 15%;
    left: 2em;
    content: "";
    display: block;
    width: calc(100% - 4em);
    height: 1.5em;
    background-color: rgb(158, 158, 158);
    z-index: 2;
  }

  &::after {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 25vmin;
    height: 25vmin;
    border-radius: 100%;
    box-shadow: inset 0 -3px 8px black, inset 0 0 20vmin rgba(black, 0.4);
  }
}
