:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    display: flex;
    align-items: center;

    &.type-form {
      flex-direction: column;
    }
  }

  .play-btn {
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--successful-color);
    color: black;
  }

  .show-btn {
    height: 100%;
    background-color: var(--main-color);
    color: black;
  }
}
