<form class="form type-form" [formGroup]="typeForm">
  <mat-label>{{ "chord_finder.type" | translate }}</mat-label>
  <mat-slide-toggle></mat-slide-toggle>
</form>
<div class="buttons-wrapper">
  <button class="show-btn" (click)="setChord()">
    {{ "chord_finder.show" | translate }} 🠟
  </button>
  <button class="play-btn" (click)="play()">
    <img class="icon monochrome-icon" src="assets/icons/play.svg" alt="" />
  </button>
</div>
<form class="form chord-form" [formGroup]="chordSelectorForm">
  <mat-form-field appearance="outline">
    <mat-label>{{ "chord_finder.chord" | translate }}</mat-label>
    <mat-select formControlName="chord">
      <mat-option
        *ngFor="let chord of chords$ | async"
        [value]="chord.intervals"
      >
        {{ chord.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
