:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1em;

  margin-bottom: -0.5em;
  .form,
  .buttons-wrapper {
    margin-top: 0.5em;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;

    &.type-form {
      flex-direction: column;
    }
  }

  .buttons-wrapper {
    display: flex;

    .play-btn,
    .show-btn {
      margin-right: 0.5em;
      padding: 0.5em;
      border-radius: 0.5em;
      flex-grow: 1;
      border: 2px solid var(--main-color);
      background-color: var(--bg-color);
    }

    .play-btn {
      display: flex;
      align-items: center;
      .icon {
        width: 1.5em;
        height: 1.5em;
        margin-left: 0.25em;
      }
    }

    .show-btn {
      &:disabled {
        filter: grayscale(1.25);
      }
    }
  }
}
