@import "themes";

$size: 76px;

:host {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: $size;
  height: $size;
  z-index: 2;
  button {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size * 2;
    height: $size * 2;
    border-radius: 999px;
    background-color: var(--bg-color);
    .icon {
      width: $size / 2;
      transform: translateX(-75%) translateY(-75%);
    }
  }
}
