@import "themes";

$size: 76px;

:host {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: $size;
  height: $size;
  z-index: 2;
  transition: width 0.2s, height 0.2s;

  &:hover {
    width: $size * 1.05;
    height: $size * 1.05;
    button {
      width: $size * 2.05;
      height: $size * 2.05;
    }
  }

  button {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size * 2;
    height: $size * 2;
    border-radius: 999px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    transition: width 0.2s, height 0.2s;

    animation-name: appearance;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    .icon {
      width: $size / 2;
      transform: translateX(-75%) translateY(-75%);
    }

    &:focus {
      border-width: 3px;
    }
  }
}

[data-theme="light"] {
  :host {
    filter: drop-shadow(2px 3px 6px rgba(black, 0.5));
  }
}

@keyframes appearance {
  from {
    transform: translateX(50%) translateY(50%);
  }
  to {
    transform: translateX(0), translateY(0);
  }
}
