:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    height: 100vh;

    color: var(--text-color-secondary);
    font-size: calc(1.5rem + 6vw);
    text-align: center;
    font-weight: 500;
    user-select: none;

    will-change: transform;
    animation-name: text-flow;
    animation-duration: 25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    background-size: 400%;
    background-image: linear-gradient(
      10deg,
      white,
      white 40%,
      var(--main-color) 60%,
      gray 68%,
      gray 92.5%,
      var(--main-color)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(2px 4px 32px rgba(black, 0.15));

    .title {
      font-size: 1em;
      margin: 0;
    }
    .subtitle {
      font-size: 0.1em;
      letter-spacing: 1.5em;
      margin: 0;
      transform: translateX(1.5em);
    }
  }
}

@keyframes text-flow {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
