:host {
  display: block;
  width: 100%;
  overflow-x: auto;
  .form {
    width: 100%;
    display: flex;
    .key {
      display: block;
      height: 40vh;
      min-width: 3em;
      padding: 0 4px;

      font-size: 12px;

      .input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
      }
      .face {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: white;
          z-index: 1;
        }

        .note {
          line-height: 1em;
          padding: 0.5em;
          background-color: rgba(black, 0.15);
          border-bottom: 2px solid transparent;
          color: var(--text-color-secondary);
        }

        .mask {
          position: absolute;
          top: 0;
          left: 2px;
          width: calc(100% - 4px);
          height: calc(100% - 2em);
          z-index: 2;
        }
      }

      &.black {
        .face {
          &::before {
            background-color: #303030;
          }
        }
      }

      .input:checked ~ .face {
        .mask {
          background-image: linear-gradient(
            0deg,
            var(--main-color),
            transparent
          );
        }

        .note {
          color: var(--text-color-primary);
          border-bottom: 2px solid var(--main-color);
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  :host {
    .form {
      .key {
        height: 33.33vh;
      }
    }
  }
}
