<div>
  <form class="form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ "settings.theme" | translate }}</mat-label>
      <mat-select formControlName="theme">
        <mat-option *ngFor="let theme of themes" [value]="theme">
          {{ theme }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "settings.language" | translate }}</mat-label>
      <mat-select formControlName="lang">
        <mat-option *ngFor="let lang of langs" [value]="lang">
          {{ lang }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
