:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  form {
    > * {
      margin: 0.5em;
    }
  }

  .common-group {
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .animation-group {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    border: 1px solid gray;
    padding: 1rem;
  }

  .title {
    width: 100%;
    color: var(--text-color-secondary);
    margin-bottom: 1em;
  }
}
