<form class="common-group" [formGroup]="commonSettingsForm">
  <mat-form-field appearance="outline">
    <mat-label>{{ "settings.theme" | translate }}</mat-label>
    <mat-select formControlName="theme">
      <mat-option *ngFor="let theme of themes" [value]="theme">
        {{ theme }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ "settings.language" | translate }}</mat-label>
    <mat-select formControlName="lang">
      <mat-option *ngFor="let lang of langs" [value]="lang">
        {{ lang }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<form class="vertical-group palette-group" [formGroup]="palettesForm">
  <mat-form-field appearance="outline" class="scale-palette-field">
    <mat-label>{{ "settings.scale_palette" | translate }}</mat-label>
    <mat-select formControlName="scalePalette">
      <mat-option
        *ngFor="let scalePalette of scalePalettes"
        [value]="scalePalette"
      >
        {{ scalePalette }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="palette-container">
    <div
      class="color"
      *ngFor="let color of scaleColors; index as i"
      [style.background-color]="color"
    >
      {{ stages[i] }}
    </div>
  </div>
</form>
<form [formGroup]="animSettingsForm" class="animations-group">
  <i class="title">{{ "settings.animations" | translate }}</i>
  <mat-checkbox formControlName="enablePageTransitions">{{
    "settings.enable_page_transitions" | translate
  }}</mat-checkbox>

  <mat-checkbox formControlName="enableUiAnimations">{{
    "settings.enable_ui_animations" | translate
  }}</mat-checkbox>
</form>
