@import "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  .chord-name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .chord-name {
      font-size: 5rem;
    }
  }
}

@media screen and (max-width: $md) {
  :host {
    .chord-name-wrapper {
      .chord-name {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  :host {
    .chord-name-wrapper {
      .chord-name {
        font-size: 2rem;
      }
    }
  }
}
