:host {
  width: 100%;
}

.settings-btn {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.info-link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 32px;
  height: 32px;
  .btn-icon {
    width: 100%;
  }
}

.main-text {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 50%;
  margin: 0;
  font-size: calc(1.5rem + 6vw);
  font-weight: 500;
  user-select: none;
  will-change: transform;
  // animation-name: title-appearance;
  // animation-duration: 3s;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;
  // text-align: center;

  animation-name: text-flow;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  background-size: 300%;
  background-image: linear-gradient(
    20deg,
    transparent,
    gray,
    white,
    var(--main-color),
    transparent,
    var(--bg-color1),
    gray,
    var(--main-color),
    white,
    var(--main-color)
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: var(--text-color-secondary);

  transform: translateX(-50%) translateY(-50%);

  filter: drop-shadow(2px 4px 32px rgba(black, 0.75));

  .title {
    font-size: 1em;
    margin: 0;
  }
  .subtitle {
    font-size: 0.1em;
    letter-spacing: 1.5em;
    margin: 0;
    transform: translateX(1.5em);
  }
}

@keyframes title-appearance {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-25%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes text-flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
