<app-helper-menu class="helper"></app-helper-menu>
<app-circular-menu class="circular-menu"></app-circular-menu>
<app-settings-button
  class="settings-btn"
  [routerLink]="['/settings']"
></app-settings-button>
<a class="info-link" href="https://github.com/BogdanBida" target="_blank">
  <button class="btn-icon">
    <div class="icon-wrapper">
      <img class="icon monochrome-icon" src="assets/icons/info.svg" alt="" />
    </div>
  </button>
</a>
<app-main-title class="main-title"></app-main-title>
