@import "themes";

.btn-icon,
.icon-wrapper,
.icon {
  width: 32px;
  height: 32px;
}

.btn-icon {
  border-radius: 99px;
  padding: 0;
  .icon {
    transition: 0.3s;
  }

  &:active {
    .icon {
      transform: rotate(90deg);
    }
  }
}
