:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .notename {
    font-size: 7vw;
  }

  .cents {
  }

  .status {
    .ok {
      color: greenyellow;
    }
  }
}
