@import "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;

  .notename {
    font-size: 14vh;
    margin: 0.25em 0 0;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    .frequency,
    .cents {
      font-size: 1.25rem;
      margin: 0.25em 0;
      .title {
        color: var(--text-color-secondary);
      }
    }
  }

  .status {
    font-size: 1.25rem;
    .ok {
      color: var(--successful-color);
    }
  }
}

// @media (max-height: $sm-height) {
@media (orientation: landscape) {
  :host {
    flex-direction: row;
    justify-content: space-around;
    .notename,
    .numbers,
    .status {
      width: 33.33%;
    }
  }
}
