<h2 class="notename">
  <span *ngIf="info; else notePlaceholder">{{ info.note | notename }}</span>
  <ng-template #notePlaceholder>?</ng-template>
</h2>
<span class="cents">
  <span>Cents: </span>
  <h3>
    <span *ngIf="info; else centsPlaceholder">{{ info.detune || "--" }}</span>
    <ng-template #centsPlaceholder>--</ng-template>
  </h3>
</span>
<h3 class="status">
  <ng-template [ngIf]="info" [ngIfElse]="statusPlaceholder">
    <span *ngIf="isNeedUpper" class="direction"
      >{{ "tuner.upper" | translate }}🠝</span
    >
    <span *ngIf="isNeedLower" class="direction"
      >{{ "tuner.lower" | translate }}🠟</span
    >
    <span *ngIf="info.detune === 0" class="ok">OK</span>
  </ng-template>
  <ng-template #statusPlaceholder>
    <span>--</span>
  </ng-template>
</h3>
