:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;

  .notename {
    font-size: 15vh;
    margin: 0.25em 0;
  }

  .cents {
    h3 {
      margin: 0;
    }
  }

  .status {
    .ok {
      color: greenyellow;
    }
  }
}
