<app-keyboard [amount]="keysAmount"></app-keyboard>
<div class="settings">
  <app-scale-switcher class="scale-switcher"></app-scale-switcher>
  <div class="group">
    <label>
      <span>{{ "keyboards.range" | translate }}: </span>
      <span>
        {{ keysAmount }}
      </span>
    </label>
    <mat-slider
      class="slider"
      [max]="maxKeys"
      [min]="minKeys"
      [step]="1"
      [tickInterval]="1"
      [thumbLabel]="true"
      [(ngModel)]="keysAmount"
    >
    </mat-slider>
  </div>
</div>
