@import "material";
@import "normalize";
@import "themes";
@import "variables";
@import "fonts";

* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  color: var(--text-color-primary);
  height: 100%;
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  background-image: linear-gradient(40deg, var(--bg-color1), var(--bg-color2));
}

[data-theme="dark"] {
  body {
    background-image: none;
    background-color: var(--bg-color1);
  }
}

button {
  cursor: pointer;
  color: var(--text-color-primary);
  padding: 0;
  border: none;
  background-color: var(--bg-color);
  &:active {
    filter: brightness(1.1);
  }

  &:focus {
    outline: 1px solid rgba(white, 0.25);
  }
}

.btn-icon {
  background-color: transparent;
  border: none;
  img {
    width: 100%;
  }
}

.settings-btn {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
}
