@import "assets/css/normalize.css";
@import "./scss/themes";
@import "./scss/functions";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  height: -webkit-fill-available;
}

body {
  background-color: var(--bg-color);
  box-sizing: border-box;
}

button {
  cursor: pointer;
  :active {
    filter: brightness(0.95);
  }
}

.btn-icon {
  background-color: transparent;
  border: none;
  img {
    width: 100%;
    height: 100%;
  }
}
