:host {
  display: flex;

  .string-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    cursor: pointer;
    .stage {
      height: 1em;
    }
    .note {
      text-align: center;
      width: 2em;
      height: 1em;
    }
    .hole {
      width: 0.5em;
      height: 0.5em;
      flex-shrink: 0;
      border-radius: 1em;
      background-color: black;
    }
    .string {
      position: relative;
      height: 100%;
      width: 2px;

      background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 2px,
        rgba(black, 0.5) 2px,
        rgba(black, 0.5) 4px
      );
    }

    &:active {
      .string {
        animation-name: vibration;
        animation-duration: 100ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 2;
      }
    }
  }
}

@keyframes vibration {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1px);
  }
}
