@mixin scrollbarThin() {
  scrollbar-color: var(--main-color) transparent;
  scrollbar-arrow-color: var(--bg-color);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    filter: brightness(0.95);
  }
}

@mixin flexHost() {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
