[data-theme="dark"] {
  --bg-color: #303038;
  --bg-color1: #302840;
  --bg-color2: #451830;
  --text-color-primary: #f0f0f0;
  --main-color: #92e2ff;
  --glass: #2b2b3b;
}

[data-theme="light"] {
  --bg-color: #f0f0f8;
  --bg-color1: #c0c0f8;
  --bg-color2: #f8d8d8;
  --text-color-primary: #303030;
  --main-color: #7db2c6;
  --glass: #e2e2e2;

  .monochrome-icon {
    filter: invert(0.75);
  }
}

$theme: (
  --bg-color: var(--bg-color),
  --bg-color1: var(--bg-color1),
  --bg-color2: var(--bg-color2),
  --text-color-primary: var(--text-color-primary),
  --main-color: var(--main-color),
  --glass: var(--glass),
);

@function var($variable) {
  @return map-get($theme, $variable);
}
