[data-theme="dark"] {
  --bg-color: #303038;
  --bg-color1: #302840;
  --bg-color2: #451830;
  --text-color-primary: #f0f0f0;
  --text-color-secondary: #d0d0d0;
  --main-color: #92e2ff;
  --successful-color: greenyellow;
  --glass: #2b2b3b;
  --tuner-bg: #22274f;
}

[data-theme="light"] {
  --bg-color: #f0f0f8;
  --bg-color1: #b0b0e8;
  --bg-color2: #e8c8c8;
  --text-color-primary: #303030;
  --text-color-secondary: #404040;
  --main-color: #7db2c6;
  --successful-color: rgb(0, 190, 64);
  --glass: #e2e2e2;
  --tuner-bg: #d8daf8;

  .monochrome-icon {
    filter: invert(0.75);
  }
}

[data-disabled-animations] {
  * {
    transition: none !important;
    animation-duration: 0s !important;
  }
}

$env: (
  --bg-color: var(--bg-color),
  --bg-color1: var(--bg-color1),
  --bg-color2: var(--bg-color2),
  --text-color-primary: var(--text-color-primary),
  --text-color-secondary: var(--text-color-secondary),
  --main-color: var(--main-color),
  --successful-color: var(--successful-color),
  --glass: var(--glass),
  --tuner-bg: var(--tuner-bg),
);

@function var($variable) {
  @return map-get($env, $variable);
}
