$theme-transition: 0.3s;

// * breakpoints
$xs: 320px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

$xs-height: 320px;
$sm-height: 480px;
$md-height: 768px;
$lg-height: 1024px;
$xl-height: 1280px;
