:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    .btn {
      width: 44px;
      height: 44px;
      font-size: 24px;
      border-radius: 8px;
      border: 2px solid var(--main-color);
      margin-right: 8px;
    }

    .number {
      margin: 0 1em;
      width: 1em;
    }
  }

  .switchers-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 0.5em;
    .pin-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .pin-number {
        font-size: 0.75rem;
      }
    }

    .pin {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 2.5em;
      height: 5em;
      background-color: var(--bg-color);
      background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 3px,
        rgba(black, 0.15) 3px,
        rgba(black, 0.15) 4px
      );

      box-shadow: inset 1px 0 3px black;

      margin: 0 4px;
      cursor: n-resize;
      user-select: none;
      border-radius: 25%;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 50%;
        border-left: 1px solid var(--main-color);
        border-right: 1px solid var(--main-color);
        box-sizing: border-box;
        filter: drop-shadow(0 0 1px var(--main-color));
      }
    }
  }
}
