:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    .btn {
      width: 44px;
      height: 44px;
      font-size: 24px;
      border-radius: 8px;
      border: 2px solid var(--main-color);
      margin-right: 8px;
    }

    .number {
      margin: 0 1em;
      width: 1em;
    }
  }

  .switchers-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;

    .pin {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3em;
      height: 4em;
      background-color: var(--bg-color);

      border-right: 2px solid var(--main-color);
      border-left: 2px solid var(--main-color);

      margin: 0 2px;
      cursor: n-resize;
      user-select: none;
    }
  }
}
