<div class="group">
  <span class="label">{{ "stringed.strings" | translate }}</span>
  <div class="horizontal-container">
    <button class="btn" (click)="removeString()">-</button>
    <button class="btn" (click)="addString()">+</button>
    <div class="number">{{ tuning.length }}</div>
  </div>
</div>
<div class="switchers-container">
  <div class="pin-wrapper" *ngFor="let pin of tuning; index as id">
    <div
      class="pin"
      (swipeup)="decreasePin(id)"
      (swipedown)="increasePin(id)"
      appMouseWheel
      (wheelUp)="decreasePin(id)"
      (wheelDown)="increasePin(id)"
    >
      <span>&#x25B2;</span>
      <span>{{ pin | notename }}</span>
      <span>&#x25BC;</span>
    </div>
    <span class="pin-number">{{ id + 1 }}</span>
  </div>
</div>
